[submodule "services/slotplanner-demo"]
	path = services/slotplanner_demo
	url = https://github.com/ltcdr/slotplanner-demo
[submodule "services/slotplanner-demo-functions"]
	path = services/slotplanner-demo_functions
	url = https://github.com/ltcdr/slotplanner-demo-functions
